.homeScreen{
    background: url(../images/prisoner.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}


h1{
    width: 20%;
    margin: auto;
    text-align: center;
    border-bottom: 1px dotted white;
    font-family: 'Simonetta', ;
}

.buttons {
    width: 100%;
    height: 800px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button, .start {
    height: 20px;
    width: 100px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    margin: 20px;
    font-weight: bolder;
  }

  button, .logIn {
    height: 20px;
    width: 100px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    margin: 20px;
    font-weight: bolder;
  }
  a {
      text-align: center;
  }


